body {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 800vh; */
}
header {
    font-family: sans-serif;
}
.flex-box {
    display: flex;
}
.center{
    justify-content: center;
}
/* .flex-item-1 {
    background-color: aqua;
} */
.nav-bar {
    /* outline: green dashed 2px; */
    justify-content: space-between;
    background-color: white;
}
nav ul li {
    margin: 15px;
    list-style: none;
}
#big-card {
    /* outline: rgb(128, 32, 0) dashed 2px; */
    width: 85vw;
    height: 500px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    background-image: url(../images/clement-helardot-95YRwf6CNw8-unsplash.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 15px;
}
.card {
    /* flex: 0 0 20%; */
    background-color: rgb(208, 208, 208);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 10px;
    border-radius: 15px
}
.card:hover {
    outline-color: rgb(139, 0, 86);
    outline-width: 10px;
    box-shadow: 0 4px 8px 0 rgba(159, 253, 201, 0.2)
}
h2 {
    text-align: center;
}
div img {
    width: 500px;
    height: 250px;
}
.card-image {
    background-image: url(../images/christopher-gower-m_HRfLhgABo-unsplash.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 250px;
    position: relative;
    border-radius: 15px
}
.card-title {
    color: rgb(255, 255, 255);
    position: absolute;
    top: 50px;
    left: 50px;
    font-size: larger   ;
}
.card-second {
    background-image: url(../images/ilya-pavlov-OqtafYT5kTw-unsplash.jpeg);

}
.card-third {
    background-image: url(../images/p799148926-5.jpeg);
    
}

div ul {
    list-style-type: none;
    justify-content: right;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

.fa-linkedin{
    color: rgb(0, 0, 0);
    background-color: brown;
}

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
#about-me p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 15px;
}
@media only screen and (max-width: 1000px) {
    .double {
        display: block;
    }
  }