body {
    font-family: Arial, Helvetica, sans-serif;
    height: 1000vh;
}
header {
    font-family: sans-serif;
}
.flex-box {
    display: flex;
}
.nav-bar {
    outline: green dashed 2px;
    justify-content: space-between;
    background-color: white;
}
nav ul li {
    margin: 15px;
    list-style: none;
}
#big-card {
    outline: green dashed 2px;
    width: 1000px;
    height: 250px;
}
.card {
    outline: green dashed 2px;
    width: 500px;
    height: 250px; 
}

/* #big-card {

} */
/* ul {
    outline: green dashed 2px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
  
li {
    outline: green dashed 2px;
    display: inline;
    float: right;

}
li a {
    display:block
    color: white;
    text-align: center;
    padding: 14px 16px
}
li a:hover {
    background-color: black;
} */
